.sortDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
.main-vacancies{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 30px;
}
.title-recomend{
    font-size: 24px;
    font-weight: 700
}
.sortDiv > div > p{
    margin: 3px 0;
}
.sorted-by{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.candidates{
    width: 62%;
    margin: 0 0 0 50px;
    display: flex;
    flex-direction: column;
}
.candidate-cart{
    display: flex;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    width: 390px;
    background-color: #fff;
    border-radius: 16px;
    transition: all 0.1s;
    gap: 20px;
    border: 0px #B1DFC9;
    
}
.candidate-cart:hover{
    border: 2px solid #B1DFC9;
    border-radius: 16px;
    
}
.carts{
    width: 100%;
    margin-top: 30px;
    display: grid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
}
.candidate-div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;
}
.header-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.additional-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.candidate-inf{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between; 
}
.candidate-name{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.location-payment{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.black{
    color: #000;
}

.skill{
    width: 80px;
    background-color: #F9F9F9;
    border-radius: 12px;
    text-align: center;
    
}
.skill > p{
    margin: 5px 0;
}
.button-cand{
    width: 45%;
}


