.oppTitle{
    font-size: 3.875em;
    font-weight: 600;
    text-align: center;
    margin: 0;
    width: 40%;
    line-height: 120%;
    margin-bottom: 30px;
}
.oppText{
    font-size: 1.125em;
    color: rgb(61,66,90);
    text-align: center;
    width: 40%;
}
.oppMainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.opportunitiesDiv{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:30px;
    flex-wrap: wrap;
    justify-content: center;
}