body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, rgba(219, 242, 215, 1), rgba(253, 243, 208, 1));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ReadexFont{
  font-family: "Readex Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.greenText{
  color: rgb(71, 209, 140);
}
.fontWeight600{
  font-weight: 800;
}
.gray{
  color: #7F879E;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.align-center{
  align-items: center;
  
}
.justify-between{
  justify-content: space-between;
}
.justify-around{
  justify-content: space-around;
}
